.wrapper{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}

.wrapper > div {
    background-color: brown;
    
}
.navbar {
    background: pink;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 6fr 6fr;
    align-items: center;
    width: 50%;
}

.navbar ul {
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.navbar ul li a {
    text-decoration: none;
    color: brown;
    padding: 1.5rem;

}

.header {
    background: deepskyblue;
    overflow: hidden;
}
body {
    background-color: lightblue;
}